@font-face {
    font-family: 'Minecraftia';
    src: url('Minecraftia-Regular.ttf') format('truetype');
}

/* // Set font for entire page: */
body {
    font-family: 'Minecraftia', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.page-content {
    height: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;
    }

    .leaderboard {
        margin-top: 5%;
    }
}

@keyframes moveBackground {
    0% { background-position: 0 0; }
    50% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

.leaderboard {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px; /* some padding */
    padding-top: 0;
    padding-bottom: 0;
    max-width: 80%;
}

.server-div {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px; /* some padding */
    max-width: 80%;
    min-width: 80%;
    margin-top: 3%;
}

.server-status {
    animation: blink 4s infinite;
    animation-fill-mode: both;
}

@keyframes blink {
    0% { opacity: 0.5 }
    50% { opacity: 1 }
    100% { opacity: 0.5 }
    }

.leaderboard-main {
    height: 100%;
}

.username-line {
    display: flex;
    gap: 3%;
}

.username-line img {
    height: 1.5em;
}

li h3, li div {
    margin: 0;
}

.icon-text {
    margin: 0;
}

h1 {
    margin-bottom: 0;
    line-height: 1.7em;
}

ol {
    counter-reset: item;
    list-style-type: none;
    padding: 0;
}

li::before {
    content: counter(item) ".";
    counter-increment: item;
    margin-right: 0.5em;
    font-size: 1.5em;
}

li {
    display: flex;
    margin-bottom: 0.5em;
}

li::marker {
    font-size: 1.5em;
}

.inline-header {
    display: inline;
    margin-right: 2%;
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 130%;
    animation: moveBackground 20s ease-in-out infinite;
    filter: blur(5px);
    z-index: -1;
}

@media (max-width: 768px) {
    .bg-image {
        animation-duration: 80s;
        background-size: cover;
    }

    .page-content {
        height: 98%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}

.footer {
    background: rgba(255, 255, 255, 0.5); /* white background with 50% opacity */
    border-radius: 10px;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.github-button:hover {
    filter: brightness(1.4);
}